<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New project register</title>
</head>
<body>

    <h2>Create new project</h2>

    <form action="#" th:action="@{/create_project}" th:object="${new_project}" method="POST">

        Name: <input type="text" th:field="*{name}"><br>
        Description: <input type="text" th:field="*{description}"> <br>
        Prefix: <input type="text" th:field="*{prefix}"> <br>
        Type: <input type="number" th:field="*{type}"> <br>

        <button type="submit"> create new project </button>
    </form>

    <br>
    <a th:href="@{/ui/project}"> Back </a>
</body>
</html>